/* Variáveis de Tema */
:root {
  --background-color: #efdde0;
  --text-color: #000000;
  --header-footer-bg: #f5f5f5;
  --card-bg-color: #e4bfc5;
  --modal-bg-color: #ffffff;
}

.dark-mode {
  --background-color: #121212;
  --text-color: #ffffff;
  --header-footer-bg: #333333;
  --card-bg-color: #555555;
  --modal-bg-color: #333333;
}

/* Reset CSS */
body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  font-size: 18px;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color);
}

/* Header styles */
.header {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background-color: var(--header-footer-bg);
}

.header .header-image {
  max-height: 40%; 
}

.dark-mode .header-image {
  filter: brightness(0) saturate(100%) invert(1); /* Torna a imagem branca */
}

.header-buttons {
  display: flex;
  gap: 10px;
}

.theme-toggle, .language-toggle {
  background-color: #fe065c;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.theme-toggle:hover, .language-toggle:hover {
  background-color: #f39900;
}

/* Footer styles */
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: var(--header-footer-bg);
  color: var(--text-color);
  font-size: 20px;
  
  margin-top: auto; /* Mantém o rodapé no final, mesmo com pouco conteúdo */
  
}

.footer-image {
  max-height: 20px;
  margin-right: 10px;
}

.dark-mode .footer-image {
  filter: brightness(0) saturate(100%) invert(1); /* Torna a imagem branca */
}

/* SearchBar styles */
.search-bar-container {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.search-bar {
  display: flex;
  gap: 10px;
  width: 100%;
  max-width: 500px;
}

.search-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 5px;
  font-size: 16px;
  background-color: #ffffff;
  color: var(--text-color);
}

.search-input::placeholder {
  color: #888;
}

.search-button {
  padding: 10px 20px;
  background-color: #fe065c;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.search-button:hover {
  background-color: #f39900;
}

/* WeatherCard styles */
.weather-card {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  flex-wrap: wrap;
  background-color: var(--card-bg-color);
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.current-weather {
  flex: 1 1 300px;
  text-align: center;
}

.current-weather h2 {
  margin-bottom: 10px;
}

.current-weather p {
  margin: 5px 0;
  font-size: 18px;
}

.current-weather img {
  width: 300px;
  height: 300px;
}

.forecast-container {
  flex: 1 1 300px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.forecast-day {
  background-color: #e7d9df;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.654);
}

.forecast-day img {
  width: 100px;
  height: 100px;
  
}

.termometros {
  max-height: 25px;
  max-width: 25px;
}
/*---------------------------*/
.TermometroGeral{
  max-height:60px;
  max-width:60px;
}

.TempoAtual{
  font-size: 60px;
  margin-top: -70px;
  margin-bottom: 0px;
}
/*---------------------------*/

/* Dark mode adjustments */
.dark-mode .header,
.dark-mode .footer {
  background-color: var(--header-footer-bg);
}

.dark-mode .search-input {
  background-color: #444;
  color: #fff;
  border: 1px solid #666;
}

.dark-mode .forecast-day {
  background-color: #666;
}

.dark-mode .modal-content {
  background-color: var(--modal-bg-color);
  color: var(--text-color);
}

.dark-mode .suggestion-item:hover {
  background-color: #777;
}

/* Media Queries para Responsividade */
@media (max-width: 768px) {
  .header-buttons {
    flex-wrap: wrap;
  }

  .search-bar {
    flex-direction: column;
  }

  .forecast-container {
    grid-template-columns: 1fr;
  }

  .current-weather img {
    width: auto;
    max-width: 250px;
    height: auto;
  }
}

@media (max-width: 480px) {
  .header-buttons {
    flex-direction: column;
  }

  .search-button {
    padding: 8px 15px;
    font-size: 14px;
  }

  .footer {
    font-size: 16px;
    text-align: center;
  }
}

/*--------------------=========================-------------------------*/
.footer {
  display: flex;
  flex-wrap: wrap; /* Permite que os itens quebrem linha */
}

.footer-image {
  max-width: 100px; /* Define um tamanho máximo para as imagens */
  height: auto; /* Mantém a proporção da imagem */
}

.footer p {
   /*flex-basis: 100%; Faz o parágrafo ocupar 100% da linha */
  margin-top: 20px; /* Adiciona espaço acima do texto */
}



